body {
    background-image: url('http://cdn.dota2.com/apps/dota2/images/blogfiles/ti9_aegis_tia_blog.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.image-to-show {
    width: 400px;
    height: 400px;
    display: none;
}

.current-img {
    margin: 50px auto;
    border: 5px solid purple;
    border-radius: 40px;
    width: 1000px;
    height: 600px;
    display: block;
}

.btn{
    align-content: center;
    font-size: 20px;
    font-weight: bold;
    border-radius: 20px;
    text-align: center;
    color: brown;
    background-color: sandybrown;
    cursor: pointer;
    outline: none;
}

.btn-wrapper{
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
    width: 500px;
    height: 50px;
}

