.good-item{
  width: 200px;
  border: 1px solid blue;
  border-radius: 5px;
  margin-top: 10px;

  img{
    width: 100%;
  }
}
.fav-btn{
  border: none;
  border-radius: 5px;
  background-color: blue;
  color: white;
}
.favIcon{
  height: 30px;
  width: 30px;
}
.good-pricing{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.good-price{
  margin-right: 20px;
  display: block;
  white-space: nowrap;
}