/* roboto-regular - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-v20-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/roboto-v20-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/roboto-v20-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/roboto-v20-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/roboto-v20-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/roboto-v20-latin-regular.svg#Roboto') format('svg'); /* Legacy iOS */
  }
  /* roboto-700 - latin */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/roboto-v20-latin-700.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/roboto-v20-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/roboto-v20-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/roboto-v20-latin-700.woff') format('woff'), /* Modern Browsers */
         url('../fonts/roboto-v20-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/roboto-v20-latin-700.svg#Roboto') format('svg'); /* Legacy iOS */
  }

  .logo-block{
      display: block;
      position: relative;
  }
.wrapper{
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
    position: relative;
}
.content{
    width: 100%;
    height: 768px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../IMG/milan-background.png);
}
.header{
    padding-top: 51px;
    display: flex;
    justify-content: space-between;
}

.header-logo-title{
    display: inline-block;
    position: absolute;
    left: 55px;
    top: 54px;
    color: white;
}
.logo-title{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    display: block;
    color: white;
}
.milan-title{
    font-size: 29px;
    line-height: 29px;
}
.holidays-title{
    font-size: 18px;
    line-height: 18px;
}
.header-contacts-email, .header-contacts-telephone{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    color: white;
    display: block;
}
.header-contacts-telephone{
    margin-top: 15px;
    text-align: right;
}
.header-contacts-email:hover, .header-contacts-telephone:hover{
    color: #F26522;
}
.logo-wrapper:hover .logo-title{
    color: #F26522;
}
.logo-wrapper:hover img{
    content: url(../IMG/logo\ 2.png);
}
.test:hover .logo-title{
    color: #F26522;
}
.main{
    margin-top: 22px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.shopping-tours-title{
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    color: white;
    margin-top: 20px;
    margin-bottom: 37px;
}

.shopping_view-details{
    justify-content: space-between;
    width: 100%;
    height: 55px;
    background: #F26522;
    position: absolute;
    top: 366px;
    display:flex;
    transition: 0.8s top, 0.99s visibility;
}
.shopping-tours-link{
    text-decoration: none;
    position: relative;
    overflow: hidden;
}

.shopping-tours-link:hover .shopping_view-details{
    top: 166px;
}
.shopping-tours-link:hover .shopping-tours-title{
    color: #F26522;
}
.view-details::after{
    content: url(../IMG/main/Vector.png);
    margin-left: 16px;
    margin-right: 16px;
}
.pricing-block{
    margin: auto 16px;
}
.view-details{
    margin-top: auto;
    margin-bottom: auto;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    color: white;
}
.pricing-block-price{
    margin-top: 8px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 20px;
    color: white;
}
.pricing-block-from{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 10px;
    color: white;
}
