@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap');

body {
  background: rgb(20,20,20);
  overflow: hidden;
  font-family: 'Roboto';
  margin: 50% 0 0 0;
  position: relative;
}
.wrapper {
  display: flex;
  height: 100%;
  width: 60%;
  margin: 0 auto;
  perspective: 450px;
}
.scroll-text {
  color: #ffc909;
  font-size: 3.1vw;
  line-height: 1.5em;
  font-weight: bold;
  text-align: justify;
  position: relative;
  animation: scroll 30s linear infinite;
}
h1,h2 {
  text-align: center;
}

@keyframes scroll {
  0%{
    transform: rotateX(20deg) translate3d(0, 10rem, 0);
  }
  100% {
    transform: rotateX(25deg) translate3d(0, -310rem, 0);
  }
}
