.container {
    margin: 0 auto;
    max-width: 980px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ipButton {
    background: #33ccff;
    text-align: center;
    padding: 20px 30px 20px 30px;
    border-radius: 10px;
    color: white;
    font-family: 'Dela Gothic One', cursive;
    text-transform: uppercase;
    font-size: 30px;
    cursor: pointer;
}

ul {
    list-style: none;
    width: 100%;
}

.info-item {
    text-align: center;
    background: #ccf2ff;
    width: 100%;
    margin: 2px;
    font-family: 'Dela Gothic One', cursive;
}