/* roboto-regular - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-v20-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/roboto-v20-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/roboto-v20-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/roboto-v20-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/roboto-v20-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/roboto-v20-latin-regular.svg#Roboto') format('svg'); /* Legacy iOS */
  }
  html{
      box-sizing: border-box;
  }
  *, *::before, *::after{
      box-sizing: inherit;
  }
  .wrapper{
      width: 100%;
      max-width: 1280px;
      margin: 0 auto;
  }

  /*header - ramda-logo; menu-list; */

  .ramda-logo{
      display: block;
      text-decoration:none;
      
  }

  .logo-black-part{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    line-height: 94px;
    color: #000000;
  }

  .logo-blue-part{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    line-height: 94px;
    color:#1ac6ff;
  }
  .ramda-logo{
      margin-top: 61px;
      margin-bottom: 38px;
  }

  .menu-list{
      display: flex;
      justify-content: center;
      width: 1280px;
      background-color: #35444F;
  }
  .menu-item-text{
      display: block;
      background-color: #35444F;
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 24px;
      line-height: 28px;
      color: #FFFFFF;
      padding: 26px 32px;
      border-left: 1px solid transparent;
      border-right: 1px solid transparent;
      text-decoration:none;
  }
  .menu-item-text:hover{
      background-color: #222F3A;
      border-left: 0.5px solid white;
      border-right: 0.5px solid white;
  }
  .menu-item-text-last-child{
      border-right: 1px solid transparent;
  }
  .menu-item-text-last-child:hover{
    border-right: 1px solid white;
}
  .menu-item{
      list-style: none;
  }

    /*main block - aside menu; picture; text */

  .side-menu-list{
      display: flex;
      flex-direction: column;
      width: 344px;
      border: 1px solid #000000;
  }
  .side-menu-item-text{
      display: block;
      text-decoration:none;
      color: #485863;
      padding: 26px 0px 26px 44px;
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 27px;
      line-height: 27px;
  }
  .side-menu-item-text:hover{
      background-color: #DBDBDB;
      padding-left: 70px;
    }
  .side-menu-item{
      list-style: none;
  }
  .side-menu{
      margin-top: 50px;
  }

  .side-menu_picture_text{
      display: flex;
  }
  .main-picture-wrapper{
      width: 885px;
      height: 529px;
      border: 1px solid black;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 50px 0px 37px 50px;
  }
  .main-picture{
      width: 320px;
      height: 381px;
      display: block;
  }
  .side-menu_picture_text--text-first-paragraph{
      margin-left: 50px;
      margin-bottom: 37px;
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 24px;
      color: #2C2C2C;
  }
  .side-menu_picture_text--text-second-paragraph{
    margin-left: 50px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #2C2C2C;
  }
 

      /*footer block */

      .links_block-copyright{
          display: flex;
          width: 1280px;
      }
      .footer-menu-list{
          display: flex;
          justify-content: flex-start;
          background-color: #63696E;
          margin-top: 54px;
      }
      .footer-menu-item-text{
        display: block;
        background-color: #63696E;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        font-family: Roboto;
        line-height: 24px;
        color: #010101;
        padding: 26px 32px;
        text-decoration:none;
    }
    .footer-menu-item-text:hover{
        color: #3181A6;
        text-decoration: underline;

    }
    .Copyright{
        display: inline-block;
        background-color: #63696E;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        font-family: Roboto;
        line-height: 24px;
        color: #010101;
        padding: 26px 32px 26px 85px;
        margin-top: auto;
    }