@media (min-width: $tablet) {
  .footer{

    &__title{
      font-size: 16px;
      padding-top: 57px;
      padding-bottom: 22px;
    }

    &__contacts{
      display: flex;
      justify-content: center;
      line-height: 26px;

      .item-contact{
        padding-right: 10px;
      }
    }
  }
}

@media (min-width: $min-desktop) {
  .footer{

    &__title{
      padding-top: 66px;
    }

    &__contacts {
      padding-bottom: 70px;
    }
  }
}