@media (min-width: $tablet) {
  .posts-hidden{
    display: block;
  }

  .item-posts__subtitle{
    padding-bottom: 13px;
  }

  .item-posts__text{
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 26px;
    color: $text-color;
  }

  .item-posts{
    display: flex;
    padding-bottom: 34px;
  }

  .posts__text-section{
    max-width: 1200px;
    padding-left: 21px;
  }
}

@media (min-width: $min-desktop) {
  .posts__wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0px 40px;
  }
}
