/* open-sans-regular - latin */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/open-sans-v18-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/open-sans-v18-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/open-sans-v18-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/open-sans-v18-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/open-sans-v18-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/open-sans-v18-latin-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
  }
  /* open-sans-600 - latin */
  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/open-sans-v18-latin-600.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/open-sans-v18-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/open-sans-v18-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/open-sans-v18-latin-600.woff') format('woff'), /* Modern Browsers */
         url('../fonts/open-sans-v18-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/open-sans-v18-latin-600.svg#OpenSans') format('svg'); /* Legacy iOS */
  }
  /* open-sans-700 - latin */
  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/open-sans-v18-latin-700.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/open-sans-v18-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/open-sans-v18-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/open-sans-v18-latin-700.woff') format('woff'), /* Modern Browsers */
         url('../fonts/open-sans-v18-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/open-sans-v18-latin-700.svg#OpenSans') format('svg'); /* Legacy iOS */
  }
  .header{
      justify-content: space-between;
      background-color: #313131;
      height: 70px;
  }
  .header-logo, .header-logo-img, .menu-item, .header-company-name{
      display: block;
  }
  .header, .header-left-side, .header-menu-content, .header-left-side, .header-menu, .buttons-latest-news, .wrapper-popular-posts{
      display: flex;
  }
  .header-logo{
    margin: 22px 27px;
  }
  .header-company-name{
    margin: 22px 11px;
    color: #FFFFFF;
    text-decoration: none;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 30px;
}
.menu-item{
    margin: 28px 17px;
}
.menu-item-title{
    text-decoration: none;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: #FFFFFF;
    text-transform: uppercase;
}
.menu-item-title:hover{
    color: #14B9D5;
}
.header-right-side{
    display: flex;
    background-color: #000000;
    border: none;
    cursor: pointer;
}
.search-button-img{
    background-color: #000000;
    margin: 25px 25px;
}
.header-search-button{
    background-color: #000000;
}
/* main */
/* latest-news */
.latest-news{
    background-image: url(../img/main/latest-news/header-bg.jpeg);
    width: 100%;
    height: 369px;
    background-attachment: fixed;
    background-size: cover;
    background-position: 0px -200px;
    background-repeat: no-repeat;
}
.section-title-big{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    color: #FFFFFF;
    text-align: center;
}
.latest-news-title{
    padding-top: 164px;
}
.buttons-latest-news{
    justify-content: center;
}
.btn{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    text-decoration: none;
    color: #FFFFFF;
    margin-top: 44px;
    cursor: pointer;
    border-radius: 4px;
    border: 0;
}
.btn-green{
    background-color: #89CA62;
    padding: 16px 19px 17px 19px;
    margin-right: 10px;
}
.btn-blue{
    background-color: #14B9D5;
    padding: 16px 29px 17px 29px;
    margin-left: 10px;

}



/* most popular posts */




.section-title{
    color: #18B4CF;
    text-align: center;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    padding-top: 49px;
    padding-bottom: 52px;
    text-transform: uppercase;
}
.wrapper-popular-posts{
    justify-content: center;
}
.title-item-block{
    padding-top: 30.5px;
    padding-bottom: 30.5px;
    text-align: center;
    font-family: 'Open Sans';
    background-color: #FFFFFF;
    color: #353A3D;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
}
.popular-posts{
    background-color: #F2F2F2;
}
.item-block{
    margin-left: 15px;
    margin-right: 15px;
    padding-bottom: 31px;
}




/* most popular clients */




.divider-blue{
    width: 60px;
    height: 3px;
    background-color: #18B4CF;
    margin: 87px auto 106px;
}
.most-popular-clients{
    background-image: url(../img/main/popular-clients/parallax-bg.jpeg);
    width: 100%;
    height: 588px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.popular-clients-title{
    padding-top: 106px;
    text-transform: uppercase;
}
.list-popular-clients{
    display: grid;
    grid-template-columns: 207px 135px 232px 141px;
    column-gap: 58px;
    justify-content: center;
    margin-bottom: 191px;
}
.item-list:first-child{
    margin-top: 12px;
}
.item-list:nth-child(2){
    margin-top: 2px;
}
.item-list{
    cursor: pointer;
}




/* top rated */


.top-rated-pictures{
    display: grid;
    grid-template-columns: repeat(7, 14.28%);
    width: 100%;
    overflow-x: hidden;
}

/* hot news */

.grid{
    display: grid;
    grid-gap: 30px 35px;
    grid-template-areas: 
    "item1 item1 item1 item2"
    "item3 item3 item4 item4"
    "item5 item5 item6 item6"
    "item7 item8 item8 item8";
}
.item1{
    grid-area: item1;
    display: flex;
}
.item2{
    grid-area: item2;
}
.item3{
    grid-area: item3;
}
.item4{
    grid-area: item4;
}
.item5{
    grid-area: item5;
}
.item6{
    grid-area: item6;
}
.item7{
    grid-area: item7;
}
.item8{
    grid-area: item8;
    display: flex;
}
.title-test{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #353A3D;
    text-align: right;
    padding-right: 14px;
    padding-top: 14px;
    
}
.title-test-first-block{
    text-align: center;
    padding: 41px 24px 14.5px 31px;
}
.wrapper-test{
    background-color: #F9F7F7;
}
.paragraph-test{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #5B6469;
    padding: 15px 14px 3px 14px;
    text-align: right;
}
.paragraph-test-first{
    padding: 0px 24px 40.5px 24px;
}
.title-test-second-block{
   text-align: center;
   padding-top: 12.5px;
}
.container{
    margin: 0 auto;
    width: 100%;
    max-width: 1170px;
}



/* footer */

.footer{
    margin-top: 71px;
    color: black;
    height: 10px;
}
.footer-wrapper{
    display: flex;
    margin: 0 auto;
    width: 100%;
    justify-content: space-around;
    background-color: black;
}
.all-rights-footer{
    color: white;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 13px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-right: 350px;
}
.liot-logo, .liot-logo-text{
    display: block;
}
.footer-logo{
    align-items: center;
    display: flex;
}