@media (min-width: $tablet) {
  .insta__wrapper{
    background: #f2f2f2;

    .item-insta__icon{

      padding-bottom: 50px;
      img{
        max-width: 100%;
      }

    }

  }

  .insta__posts-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 9px;
  }

  .insta__text-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;

    .insta__link{
      display: block;
    }
  }

  .hidden-icon{
    display: block;
  }

  .hidden-icon:nth-child(4){
    display: none;
  }

}
@media (min-width: $min-desktop) {
  .hidden-icon:nth-child(4){
    display: block;
  }

  .insta__posts-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
  }
}

