.modal{
  min-width: 500px;
  background-color: #ff471a;
  border-radius: 20px;
}
.modal-wrapper{
  position: fixed; /* фиксированное положение */
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.5); /* цвет фона */
  z-index: 1050;
}

.modal-header{
  //padding: 5px 0px;
  background-color:  #e62e00;
  z-index: 2;
  position: relative;
}



.modal-cross {
  position: absolute;
  top: -30%;
  right: 3%;
  width: 32px;
  height: 32px;
  opacity: 0.3;
  cursor: pointer;
  padding: 10px;
}

.modal-cross:hover {
  opacity: 1;
}

.modal-cross:before, .modal-cross:after {
  position: absolute;
  left: 24px;
  content: ' ';
  height: 25px;
  width: 2px;
  background-color: white;
}

.modal-cross:before {
  transform: rotate(45deg);
}

.modal-cross:after {
  transform: rotate(-45deg);
}