/* montserrat-regular - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/montserrat-v15-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/montserrat-v15-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* montserrat-700 - latin */
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: local(''),
         url('../fonts/montserrat-v15-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/montserrat-v15-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

  html{
      box-sizing: border-box;
  }
  *, *::before, *::after{
      box-sizing: inherit;
  }

  .menu-list .menu-item{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 2.7px;
    text-decoration: none;
    display: inline-block;
    color: #FF0000;
    font-size: 18px;
    margin: 25px 72px;
  }
  .menu-list{
      width: 100%;
      margin: 0 auto;
      text-align: center;
  }
  .menu-item .menu-link{
      text-decoration: none;
      color: #ff0000;
  }
.the--photo{
    width: 100%;
}
.text--title{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 3.3px;
    color: #373737;
    margin: 48px 253px;
    text-align: center;
}

.first--paragraph{
    width: 1145px;
    height: 132px;
    text-align: center;
    margin: 0 auto;
}

.first--paragraph p{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #373737;
    letter-spacing: 2.4px;
}

.second--paragraph p{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #373737;
    letter-spacing: 2.4px;
}

.second--paragraph{
    width: 1145px;
    height: 216px;
    margin: 0 auto;
    text-align: center;
}

.footer-button{
    display: block;
    text-decoration: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    letter-spacing: 1.8px;
    line-height: 12px;
    text-transform: uppercase;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 11px;
    background-color: #FF0000;
    width: 191px;
    height: 51px;
    padding: 18px 43.5px 17px 42.5px; 
    border-radius: 4px;
    text-align: center;
    margin: 66px auto;
    cursor: pointer;
}
.rights--reserved{
    display: block;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    align-items: center;
    letter-spacing: 2.4px;
    color: #373737;
    margin: 0px 105px 29px 713px;
}



