/* ubuntu-regular - latin */
@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/ubuntu-v15-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/ubuntu-v15-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/ubuntu-v15-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/ubuntu-v15-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/ubuntu-v15-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/ubuntu-v15-latin-regular.svg#Ubuntu') format('svg'); /* Legacy iOS */
  }
  /* ubuntu-700 - latin */
  @font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/ubuntu-v15-latin-700.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/ubuntu-v15-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/ubuntu-v15-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/ubuntu-v15-latin-700.woff') format('woff'), /* Modern Browsers */
         url('../fonts/ubuntu-v15-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/ubuntu-v15-latin-700.svg#Ubuntu') format('svg'); /* Legacy iOS */
  }

  main{
      height: 100%;
  }

  .form-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

  .sign-up{
      background-image: url(../IMG/background.png);
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: absolute;
      width: 100%;
      height: 100%;
  }

.header{
    background: rgba(0, 0, 0, 0.4);
    height: 58.85px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-left{
    color: #FFFFFF;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 22px;
    margin-left: 79px;
    cursor: pointer;
}
.header-left:hover, .hover-green:hover, .svg-wrapper:hover .svg{
    color: #01813F;
    fill:  #01813F;
    cursor: pointer;
    transition: 0.5s;
}
.header-img-txt{
    display: flex;
    align-items: center;
}
.header-right{
    font-family: 'Ubuntu';
    color: #FFFFFF;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    margin-right: 79px;
    padding-top: 18px;
    padding-bottom: 18px;
}
.header-divider{
    background-color: #FFFFFF;
    width: 1px;
    height: 19px;
    margin: 0px 27px 0px 25px;
}
.img-item{
    margin: 0px 25px 0px 25px;
    cursor: pointer;
}

.header-imgs{
    display: flex;
}

/* form */

.form-container::after{
    content: "";
    height: 18px;
    width: 18px;
    background-color: #3CB878;
    position: absolute;
    top: 29px;
}


.form{
    width: 100%;
    max-width: 324px;
    padding-left: 60px;
    padding-right: 60px;
    margin: auto auto;
    background-color: white;
    position: relative;
}
.form-header{
    display: flex;
    justify-content: space-between;
}
.button{
    display: inline-block;
    border-radius: 3px;
    color: white;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    position: relative;
    padding-top: 17px;
    padding-bottom: 17px;
    box-sizing: border-box;
}
.btn-icon-facebook{
    position: absolute;
    left: 16.77px;
    top: 12px;
}
.btn-icon-google{
    position: absolute;
    left: 12px;
    top: 15px;

}
.btn-facebook::before{
    content: "";
    width: 1px;
    height: 28px;
    background-color: #0A162F;
    opacity: 0.1;
    position: absolute;
    top: 10px;
    left: 48px;
}
.btn-google::before{
    content: "";
    width: 1px;
    height: 28px;
    background-color: #0A162F;
    opacity: 0.1;
    position: absolute;
    top: 10px;
    left: 49px;
}

.btn-facebook{
    background-color: #305DB8;
    padding-left: 67px;
    padding-right: 22px;
    cursor: pointer;
}
.btn-facebook:hover{
    background-color: #022263;
    transition: 0.5s;
}
.btn-google{
    background-color: #DF4A32;
    padding-left: 80px;
    padding-right: 27px;
    cursor: pointer;
}
.btn-google:hover{
    background: #AB1F09;
    transition: 0.5s;

}
.form-text{
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: normal;
}
.text-left{
    font-size: 20px;
    line-height: 20px;
    color: #434343;
    padding-bottom: 15px;
    padding-top: 31px;
}
.text-right{
    font-size: 14px;
    line-height: 14px;
    color: #3CB878;
    padding-bottom: 13px;
    padding-top: 33px;
    text-decoration: none;
}

/* .form-divider{
    padding-top: 31px;
} */
.divider-line{
    width: 152px;
    border-bottom: 1px solid #F2F2F2;
}
.divider-text{
    padding-top: 31px;
    font-size: 14px;
    line-height: 14px;
    color: #848484;
    text-align: center;
}
.divider-text::before{
    content: "";
    width: 152px;
    border-bottom: 1px solid #F2F2F2;
    position: absolute;
    left: 60px;
    top: 154.5px;
}
.divider-text::after{
    content: "";
    width: 152px;
    border-bottom: 1px solid #F2F2F2;
    position: absolute;
    top: 155px;
    right: 63px;
}

/* inputs */


.input-text{
    color: #434343;
    width: 324px;
    height: 44px;
    margin: 11px 0px;
    text-indent: 20px;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    background: #FFFFFF;
    outline: none;
    appearance: none;
    border-radius: 4px;
    color: #333;
}
.input-text:focus{
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
}


.inputs{
    margin-top: 11px;
}
.input-text:first-child{
    margin-top: 0px;
}
.terms{
    margin-top: 12px;
}
.checkbox{
    display: none;
}
.fake-checkbox{
    height: 20px;
    width: 20px;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #F2F2F2;
    margin-right: 8px;
    position: relative;
}
.fake-checkbox::before{
    content: url(../IMG/FORM/Vector\ 1.svg);
    top: 2px;
    left: 2px;
    /* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    position: absolute;
    opacity: 0;
    transition: 0.2s;
}
.checkbox:checked + .fake-checkbox::before{
    opacity: 1;
}

.checkbox-text{
    font-size: 14px;
    line-height: 14px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: normal;
}
.checkbox-terms{
    display: flex;
    align-items: center;
}

.btn-green{
    background-color: #3CB878;
    opacity: 80%;
    width: 100%;
    text-align: center;
    margin: 20px 0px 38px;
    cursor: pointer;

}
.btn-green:hover{
    background-color: #01813F;
    transition: 0.5s;
}
.submit:focus{
    outline: none;
    outline-offset: 0;
    box-shadow: none;
    outline: none;
    appearance: none;
    border: none;
    border-style: hidden;
}
.submit{
    outline: none;
    outline-offset: 0;
    box-shadow: none;
    outline: none;
    appearance: none;
    border: none;
    border-style: hidden;
}


