.preloader {
    /*position: fixed;*/
    /*left: 0;*/
    /*top: 0;*/
    display: block;
    z-index: 999;
    width: 20px;
    height: 20px;
    /*overflow: visible;*/
    background: #fbfbfb url('//cdnjs.cloudflare.com/ajax/libs/file-uploader/3.7.0/processing.gif') no-repeat center center;
}

.visible {
    visibility: visible;
    opacity: 1;
    transition: opacity 2s linear;
}

.hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 2s, opacity 2s linear;
}